.footer {
	background-color: #333; /* Dark background for the footer */
	color: white; /* White text */
	text-align: center; /* Center the content */
	padding: 0.001rem; /* Add some space around the footer */
	position: relative;
	bottom: 0;
	width: 100%;
  }
  
  .footer-content p {
	margin: 5px 0;
	font-size: 14px;
  }
  
  .footer-content p:first-child {
	font-weight: bold;
  }
  
  .footer-content a {
	color: #1abc9c;
	text-decoration: none;
  }
  
  .footer-content a:hover {
	text-decoration: underline;
  }
  